.Header{
  margin: auto;
  width: 65%;
  border: 1.5px solid whitesmoke;
  padding: 10px;
  border-radius: 15px;
  margin-top: 1%;
  font-family: "Barlow Semi Condensed";
  color: rgb(255, 255, 255);

}
.jumbotron{
 max-height : 220px;
 margin-top: 3%;

}
.left{
    height: 90%;

        float: left;

}
.square {
    float: right;
    border-radius: 15px;

  width: 60%;
  height: 80%;
  background: white;
}

