.Header{

  margin: auto;
  width: 65%;
  border: 1.5px solid whitesmoke;
  padding: 10px;
  border-radius: 15px;
  margin-top: 1%;
  font-family: "Barlow Semi Condensed";
  color: rgb(255, 255, 255);




}